body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.lower-logo {
    text-transform: lowercase;
}
.nav > li > i.material-icons {
    display: inline-block;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav > li > i.material-icons:hover {
    color: #abb1bd;
}
footer > p {
    margin-left: 15px;
}
.main-panel {
    background-color: #fdfdfd;
}
.sidebar .sidebar-background:after, .off-canvas-sidebar .sidebar-background:after  {
    opacity: 0 !important;
}
ul.nav {
    background-color: rgba(256, 256,256, 0.88);
}
p.button-add > a {
    padding: 10px 10px 10px 10px;
    border: 1px solid;
    border-radius: 50px;
    background-color: rgba(253,230,244,0.25);
}
.btn-accept {
   background-color: #4caf50 !important;
}
.form-group label.control-label {
    font-size: 14px !important;
}
.main-panel {
    max-height: none !important;
}
.btn-delete {
    background-color: #e42424 !important;
}
.dashboard-link {      
    background-color: #4caf50;
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
    color: #FFFFFF;
    margin: 0 15px;
    transition: all 300ms linear;
    border-radius: 3px;
}
.sidebar-background {
    opacity: 0.09;
}
.simple-text {
    text-transform: lowercase !important;
    font-size: 24px !important;
}